.blog-section{
    padding: 3% 7%;
    background-color: rgba(0, 156, 125, 0.98);
}

.blog-section h1{
    font-size: 25px;
    font-weight: 300;
    background-color: rgba(0, 67, 65, 0.9);
    text-align: center;
    padding: 1% 0;
    border-radius: 5px;
}

table{
    background-color: rgba(127, 255, 212, 0.4);
    width: 100%;
    margin-bottom: 50px;
}

.blog-section th{
    background-color: rgba(27, 31, 27, 0.8);
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
}

.blog-section td{
    background-color: rgba(19, 23, 22, 0.7);
    padding: 8px 0 8px 15px;
    font-size: 15px;
    font-weight: 300;
}

.second-ques{
    background-color: rgba(59, 120, 99, 0.488);
}

.second-ques > h1{
    font-size: 22px;
}

.second-ques > p{   
    padding: 20px 0 30px 50px;
}

.third-ques{
    background-color: rgba(59, 120, 99, 0.488);
    margin-top: 30px;
}

.third-ques > p{
    padding: 20px 0 30px 100px;
}