.about{
    background-color: rgba(30, 35, 33, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 7%;
}

.about img{
    width: 40%;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 2px 2px 5px black;
}

.info-text{
    margin-left: 50px;
    font-weight: 300;
}

.info-text > h1, h2, h3, p{
    font-weight: 300;
    margin-bottom: 10px;
}