.practice-area{
    padding: 2% 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.practice{
    flex: 0 0 calc(21%);
    border: 1px solid rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    text-align: center;
    color: black;
    padding: 20px 10px;
}

.practice:hover{
    background-image: linear-gradient(to bottom right, rgb(221, 255, 162, 0.6), rgba(255, 166, 166, 0.3));
    box-shadow: 3px 3px 7px rgba(1, 81, 103, 0.2);
}

.practice img{
    width: 50px;
    border: 2px solid white;
    padding: 8%;
    border-radius: 50%;
    background-color: rgba(139, 102, 17, 0.06);
    box-shadow: 1px 1px 5px rgb(196, 196, 196);
}

.practice > h3{
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0;
}

.practice > p{
    font-size: 14px;
    color: grey;
    transition: 1s;
}

.practice > p:hover{
    color: black;
}

.practice > button{
    background-color: rgb(200, 168, 87);
    width: 80%;
    padding: 7px 0;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: 300ms;
    font-weight: 400;
    cursor: pointer;
}

.practice > button:hover{
    background-color: rgb(172, 141, 61);
}